[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "*"
pytest-playwright = "*"
anyio = "*"
pytest-asyncio = "*"
pytest-tornasync = "*"
pytest-trio = "*"
pytest-twisted = "*"
twisted = "*"

[dev-packages]

[requires]
python_version = "3.10"
